@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    src: local('Minecraft'), url('/assets/plugins/progress/font/Minecraft.ttf') format('ttf'), url('/assets/plugins/progress/font/Minecraft.woff') format('woff');
}


#minetip-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    padding: 0.375em;
    font-family: "Minecraft";
    letter-spacing: 0.05em;
    font-size: 16px;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
}

.legende {
    background-color: #7ea5ec;
    background-image: linear-gradient(45deg, #7ea5ec 0%, #dd515d 50%, #eea543 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.maitre{
    color: #eea543;
}

.resident{
    color: var(--bs-info);
}

.voleur{
    color: #55ffff;
}

.militaire{
    color: #00aa00;
}

.agriculteur {
    color: #ffff55;
}

.mineur {
    color: #aa00aa;
}

.expert {
    color: magenta;
}

.format-f, #minetip-tooltip {
    color: #FFF;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
}
#minetip-tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94);
}
#minetip-tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}
